
body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #5fb404;
}

.quem-somos {
    background-color: #8181f7;
    color: white;
}

.margin {
    padding-top: 10px;
    padding-bottom: 30px;
}

.parceiros {
    background-color: #58fafa;
}

.bg-footer {
    background-color: black;
    color: white;
}